src/lib/jasperserver/wsdl/jaspersever-4.2.1/JasperServer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/jasperserver/services/repository" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/jasperserver/services/repository" xmlns:intf="http://localhost:8080/jasperserver/services/repository" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->

   <wsdl:message name="copyResponse">

      <wsdl:part name="copyReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="copyRequest">

      <wsdl:part name="requestXmlString" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="deleteResponse">

      <wsdl:part name="deleteReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="putRequest">

      <wsdl:part name="requestXmlString" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listRequest">

      <wsdl:part name="requestXmlString" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getRequest">

      <wsdl:part name="requestXmlString" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="runReportRequest">

      <wsdl:part name="requestXmlString" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listResponse">

      <wsdl:part name="listReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="moveResponse">

      <wsdl:part name="moveReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="moveRequest">

      <wsdl:part name="requestXmlString" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="putResponse">

      <wsdl:part name="putReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="deleteRequest">

      <wsdl:part name="requestXmlString" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="runReportResponse">

      <wsdl:part name="runReportReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getResponse">

      <wsdl:part name="getReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="ManagementService">

      <wsdl:operation name="get" parameterOrder="requestXmlString">

         <wsdl:input message="impl:getRequest" name="getRequest"/>

         <wsdl:output message="impl:getResponse" name="getResponse"/>

      </wsdl:operation>

      <wsdl:operation name="put" parameterOrder="requestXmlString">

         <wsdl:input message="impl:putRequest" name="putRequest"/>

         <wsdl:output message="impl:putResponse" name="putResponse"/>

      </wsdl:operation>

      <wsdl:operation name="list" parameterOrder="requestXmlString">

         <wsdl:input message="impl:listRequest" name="listRequest"/>

         <wsdl:output message="impl:listResponse" name="listResponse"/>

      </wsdl:operation>

      <wsdl:operation name="copy" parameterOrder="requestXmlString">

         <wsdl:input message="impl:copyRequest" name="copyRequest"/>

         <wsdl:output message="impl:copyResponse" name="copyResponse"/>

      </wsdl:operation>

      <wsdl:operation name="delete" parameterOrder="requestXmlString">

         <wsdl:input message="impl:deleteRequest" name="deleteRequest"/>

         <wsdl:output message="impl:deleteResponse" name="deleteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="runReport" parameterOrder="requestXmlString">

         <wsdl:input message="impl:runReportRequest" name="runReportRequest"/>

         <wsdl:output message="impl:runReportResponse" name="runReportResponse"/>

      </wsdl:operation>

      <wsdl:operation name="move" parameterOrder="requestXmlString">

         <wsdl:input message="impl:moveRequest" name="moveRequest"/>

         <wsdl:output message="impl:moveResponse" name="moveResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="repositorySoapBinding" type="impl:ManagementService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="get">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis2.ws.jasperserver.jaspersoft.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/jasperserver/services/repository" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="put">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="putRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis2.ws.jasperserver.jaspersoft.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="putResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/jasperserver/services/repository" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="list">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis2.ws.jasperserver.jaspersoft.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/jasperserver/services/repository" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="copy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="copyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis2.ws.jasperserver.jaspersoft.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="copyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/jasperserver/services/repository" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delete">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis2.ws.jasperserver.jaspersoft.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/jasperserver/services/repository" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runReport">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runReportRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis2.ws.jasperserver.jaspersoft.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runReportResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/jasperserver/services/repository" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="move">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="moveRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axis2.ws.jasperserver.jaspersoft.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="moveResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/jasperserver/services/repository" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ManagementServiceService">

      <wsdl:port binding="impl:repositorySoapBinding" name="repository">

         <wsdlsoap:address location="http://localhost:8080/jasperserver/services/repository"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
